.carousel-slide-1 {
	background: url(img/main-carousel/main-carousel-1.jpg);
	background-position: bottom;
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);
}

.carousel-slide-2 {
	background: url(img/main-carousel/main-carousel-2.jpg);
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);
}

.carousel-slide-1, .carousel-slide-2 {
	height: 500px;
	background-size: cover;
}

.top-slogan {
	color: #fff;
}

.main-features {
	width: 100%; 
	height: 200px; 
}

.center-jumbotron {
	height: 500px;
	background: url(img/center-jumbotron/center-jumbotron.jpg);
	background-size: cover;
	background-position: top;
}

.projects {
	height: 170px;
}