.top-jumbotron {
	height: 500px;
	background: url(img/top-jumbotron/top-jumbotron-1.jpg);
	background-size: cover;
	background-position: bottom;
}

.top-slogan {
	color: #fff;
}

.main-features {
	height: 220px; 
}

.center-jumbotron {
	height: 500px;
	background: url(img/center-jumbotron/center-jumbotron.jpg);
	background-size: cover;
	background-position: top;
}

.projects {
	height: 170px;
}